<div class="jumbotron jumbotron-fluid bg-primary text-light main">
    <div class="container">
        <h1 class="display-4 font-weight-bolder">Administrar Usuarios</h1>
        <p class="lead">En esta seccion puedes administrar a todos los usuarios.</p>
        <button class="btn btn-lg btn-outline-light text-uppercase">Crear Usuario</button>
    </div>
</div>
<div class="container users">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let user of users">
            <tr>
                <th scope="row">{{ user._id || "---" }}</th>
                <td>{{ user.name || "---" }}</td>
                <td>{{ user.lastname || "---" }}</td>
                <td>{{ user.username || "---" }}</td>
                <td>{{ user.role || "---" }}</td>
                <td>
                    <a id="delete"><i class="text-danger bi bi-trash-fill"></i></a>
                    <a id="edit"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>