<div class="main p-4">
    <div class="container">
        <div class="jumbotron jumbotron-fluid bg-success text-light rounded p-4">
            <div class="container">
                <h1 class="display-4 font-weight-bolder">Administrar Eventos</h1>
                <p class="lead">En esta seccion puedes administrar a todos los eventos.</p>
                <button class="btn btn-lg btn-outline-light text-uppercase" data-toggle="modal" data-target="#createUser">Crear evento</button>
            </div>
        </div>
    </div>
</div>>